p {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -650px;
  font-size: 100px;
  font-family: "Love Ya Like A Sister", "cursive";
  text-align: center;
  color: rgb(100, 100, 100);
  animation: blink 2s ease-in-out infinite;
}

body {
  background-image: url("../images/paper.jpg");
  background-size: cover;
  font-family: "Indie Flower", cursive;
  /* background-repeat: repeat-y; */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.container {
  margin-left: 50%;
  margin-top: 25%;
}

.space {
  font-size: 100px;
  height: 3%;
  width: 5%;
  margin: 20px;
  float: left;
  color: rgb(100, 100, 100, 1);
  border-bottom: 5px solid rgb(80, 80, 80, 1);
}

.scoreboard {
  float: left;
  margin-top: 10%;
  font-family: "Love Ya Like A Sister", "cursive";
  font-size: 50px;
  color: rgb(100, 100, 100);
}

.invisible {
  display: none;
}
